* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget-password-container {
  width: 400px;
  padding: 40px;
  background-color: rgb(226, 221, 221);
  border-radius: 10px;
  box-shadow: 5 5px 20px rgba(0, 0, 0, 1);
}

.forget-password-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.forget-password-container h2 {
  text-align: center;
  font-weight: lighter;
  font-size: medium;
  margin-bottom: 20px;
}

.input-group {
  text-align: center;
  margin-bottom: 30px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdbabd;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input:focus {
  outline: none;
  color: #007bff;
}

/* Get OTP button  */

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #4ff05d;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #03aa11;
}
