* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login input style */

.login-container {
  width: 400px;
  padding: 40px;
  background-color: rgb(226, 221, 221);
  border-radius: 10px;
  box-shadow: 5 5px 20px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdbaba;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

/* Forget password section */

.forget-password {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 20px;
}

.forget-password a {
  text-decoration: none;
  color: #007bff;
  margin-bottom: 14px;
}

/* Login button style */

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #4ff05d;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #03aa11;
}

/* Register text style */
.register-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.register-text a {
  color: #c74720;
  text-decoration: none;
  font-weight: bold;
}
