* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Registration input style */

.register-container {
  width: 400px;
  padding: 40px;
  background-color: rgb(226, 221, 221);
  border-radius: 10px;
  box-shadow: 5 5px 20px rgba(0, 0, 0, 1);
}

.register-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
  flex: 1;
}

.input-row {
  display: flex;
  gap: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdbabd;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

/* Register Button Style  */

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #5fe645;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #28d306;
}

/* Login Text Style  */

.login-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-text a {
  color: rgb(57, 143, 54);
  font-weight: bold;
  text-decoration: dotted;
}
